{% extends "base.html" %} {% block daniela %}
<div class="row">
    <div class="col-md-12 ">
        <div class="jumbotron">
            <h1 class="display-4">Olá,tudo bem ?</h1>
            <p class="lead">Seja bem-vindo ao sistema de gestão de atendimentos clínicos.</p>
            <hr class="my-4">
            <p>Conheça abaixo as opções do sistema.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top, img"src="https://static.businessinsider.com/image/552c092a6bb3f70d0dbd511f-750.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Riqueza</h5>
                <p class="card-text">Sou Doutora Riqueza, posso te ajudar com algo?</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top, img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4zL-yGFrdWHcvvMC6TiHx_sQqPt0ovIvvALQQgi69PxUJCviTiw"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Ruivinha</h5>
                <p class="card-text">Sou Doutora Ruivinha, posso te ajudar com algo?</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3  ">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top, img"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCWOSajzNPmv5acHpIejdi4hXGGek8dvGjDhbx2PtI0bxq-4-X"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Indiana</h5>
                <p class="card-text">Sou Doutora Indiana, posso te ajudar com algo?</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top, img" src="http://laceysalo.com/images/portfolio/Bitmoji.png">
            <div class="card-body">
                <h5 class="card-title">Doidona</h5>
                <p class="card-text">Sou Doutora Doidona, posso te ajudar com algo?</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}